@{
    ViewData["Title"] = "Home Page";
}
@using System.Globalization
@using asp_dot_net_core_web_app_mvc_fast_food_system.Models.Base;
@using asp_dot_net_core_web_app_mvc_fast_food_system.Enums;
@using asp_dot_net_core_web_app_mvc_fast_food_system.Models.VM
@model Dictionary<ProductCategory, List<ProductVM>>

<div class="container home-page">
    <div class="products">
        @foreach (KeyValuePair<ProductCategory, List<ProductVM>> productCategory in Model)
        {
            <div class="product-category">
                @* <h2>@productCategory.Key</h2> *@
                <h2>@Html.DisplayFor(model => productCategory.Key)</h2> @* Uses the '[Display(Name = "...")]' data annotation *@

                @foreach (ProductVM productVM in productCategory.Value)
                {
                    <a asp-action="AddProductToCart" asp-controller="Cart" asp-route-id="@productVM.Product.Id">
                        <div class="product">
                            @if (productVM.Product.Category == ProductCategory.Extras)
                            {
                                <span class="product-code"></span>
                            }
                            else
                            {
                                <span class="product-code">@productVM.Product.Code</span>
                            }
                            <span class="product-name">@productVM.Product.Name</span>
                            <span class="product-price">@productVM.Product.Price.ToString("C", new CultureInfo("en-CA"))</span>
                            <span class="product-quantity @(productVM.Quantity == 0 ? "hide" : "")">@(productVM.Quantity)</span>
                        </div>
                    </a>
                }
            </div>
        }
    </div>
</div>
