@{
    ViewData["Title"] = "Home Page";
}
@using System.Globalization
@using asp_dot_net_core_web_app_mvc_fast_food_system.Models.Base;
@using asp_dot_net_core_web_app_mvc_fast_food_system.Enums;
@model Dictionary<ProductCategory, List<Product>>

<div class="container home-page">
    <div class="products">
        @foreach (KeyValuePair<ProductCategory, List<Product>> productCategory in Model)
        {
            <div class="product-category">
                @* <h2>@productCategory.Key</h2> *@
                <h2>@Html.DisplayFor(model => productCategory.Key)</h2> @* Uses the '[Display(Name = "...")]' data annotation *@

            @foreach (Product product in productCategory.Value)
            {
                <div class="flex product">
                    <p class="product-code">@product.Code</p>
                    <p class="product-name">@product.Name</p>
                    <p class="product-price">@product.Price.ToString("C", new CultureInfo("en-CA"))</p>
                </div>
            }
            </div>
        }
    </div>
</div>
