@{
    ViewData["Title"] = "Cart Page";
}

@using System.Globalization
@using asp_dot_net_core_web_app_mvc_fast_food_system.Enums
@using asp_dot_net_core_web_app_mvc_fast_food_system.Models.Base;

@model Cart

<div class="container">
    @if (Model == null)
    {
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    }
    else if (Model.CartProducts == null || Model.CartProducts.Count == 0)
    {
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    }
    else
    {
        <div class="cart-products">
            <div class="head">
                <span class="head-code">Code</span>
                <span class="head-name">Name</span>
                <span class="head-additional-price">Additional Price</span>
                <span class="head-price">Price</span>
                <span class="head-quantity">Quantity</span>
                <span class="head-total-price">Total Price</span>
                <span class="head-increment-button"></span>
            </div>
            @foreach (CartProduct cartProduct in Model.CartProducts)
            {
                <div class="cart-product">
                    @if (cartProduct.Product.Category == ProductCategory.Extras)
                    {
                        <span class="cart-product-code"></span>
                    }
                    else
                    {
                        <span class="cart-product-code">@cartProduct.Product.Code</span>
                    }
                    <span class="cart-product-name">@cartProduct.Product.Name</span>
                    <span class="cart-product-additional-price">@cartProduct.AdditionalPrice.ToString("C", new CultureInfo("en-CA"))</span>
                    <span class="cart-product-price">@cartProduct.Product.Price.ToString("C", new CultureInfo("en-CA"))</span>
                    <span class="cart-product-quantity">@cartProduct.Quantity</span>
                    <span class="cart-product-total-price">@cartProduct.TotalPrice.ToString("C", new CultureInfo("en-CA"))</span>
                    <a asp-action="IncrementProduct" asp-controller="Cart" asp-route-id="@cartProduct.Id"><span class="button cart-product-increment">+</span></a>
                </div>
            }
        </div>
        @* <table class="cart-products">
            <thead>
                <tr class="head">
                    <th class="cart-product-code">Code</th>
                    <th class="cart-product-name">Name</th>
                    <th class="cart-product-additional-price">Additional Price</th>
                    <th class="cart-product-price">Price</th>
                    <th class="cart-product-quantity">Quantity</th>
                    <th class="cart-product-total-price">Total Price</th>
                </tr>
            </thead>
            <tbody>
                @foreach (CartProduct cartProduct in Model.CartProducts)
                {
                    <tr class="cart-product">
                        @if (cartProduct.Product.Category == ProductCategory.Extras)
                        {
                            <td class="cart-product-code"></td>
                        }
                        else
                        {
                            <td class="cart-product-code">@cartProduct.Product.Code</td>
                        }
                        <td class="cart-product-name">@cartProduct.Product.Name</td>
                        <td class="cart-product-additional-price">@cartProduct.AdditionalPrice.ToString("C", new CultureInfo("en-CA"))</td>
                        <td class="cart-product-price">@cartProduct.Product.Price.ToString("C", new CultureInfo("en-CA"))</td>
                        <td class="cart-product-quantity">@cartProduct.Quantity</td>
                        <td class="cart-product-total-price">@cartProduct.TotalPrice.ToString("C", new CultureInfo("en-CA"))</td>
                    </tr>
                }
            </tbody>
        </table> *@
    }
</div>