@{
    ViewData["Title"] = "Cart Page";
}

@using System.Globalization
@using asp_dot_net_core_web_app_mvc_fast_food_system.Enums
@using asp_dot_net_core_web_app_mvc_fast_food_system.Models.Base;

@model Cart

<partial name="_AddProductToCartInput" />
<div class="container cart-page">
    @if (Model == null)
    {
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    }
    else if (Model.CartProducts == null || Model.CartProducts.Count == 0)
    {
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    }
    else
    {
        <div class="clear-cart">
            <a asp-action="ClearCartProducts" asp-controller="Cart">
                <i class="fa-solid fa-trash"></i>
            </a>
        </div>
        <div class="cart-products">
            <div class="head">
                <span class="head-code">Code</span>
                <span class="head-name">Name</span>
                <span class="head-additional-price">Additional Price</span>
                <span class="head-price">Price</span>
                <span class="head-quantity">Quantity</span>
                <span class="head-total-price">Total Price</span>
                <span class="head-increment-button"></span>
                <span class="head-decrement-button"></span>
            </div>
            @foreach (CartProduct cartProduct in Model.CartProducts.OrderBy
            (
                cp => // order cartProduct by product's code
                {
                    string code = cp.Product.Code;
                    int i = 0;

                    while (i < code.Length && char.IsDigit(code[i]))
                    {
                        i++;
                    }

                    if (i > 0)
                    {
                        int number = int.Parse(code.Substring(0, i));
                        string letter = code.Substring(i);

                        return (0, number, letter); // tuple (group, number, text)
                        // 0: "code starts with a digit"
                        // number: the numeric part found
                        // letter: the remaining text
                    }
                    else
                    {
                        return (1, 0, code);
                        // 1: "code starts with a letter"
                        // 0: no number
                        // code: entire string
                    }
                }
            ))
            {
                <div class="cart-product">
                    @if (cartProduct.Product.Category == ProductCategory.Extras)
                    {
                        <span class="cart-product-code"></span>
                    }
                    else
                    {
                        <span class="cart-product-code">@cartProduct.Product.Code</span>
                    }
                    <span class="cart-product-name">@cartProduct.Product.Name</span>
                    <span class="cart-product-additional-price">@cartProduct.AdditionalPrice.ToString("C", new CultureInfo("en-CA"))</span>
                    <span class="cart-product-price">@cartProduct.Product.Price.ToString("C", new CultureInfo("en-CA"))</span>
                    <span class="cart-product-quantity">@cartProduct.Quantity</span>
                    <span class="cart-product-total-price">@cartProduct.TotalPrice.ToString("C", new CultureInfo("en-CA"))</span>
                    <a asp-action="IncrementProduct" asp-controller="Cart" asp-route-id="@cartProduct.Id"><span class="button cart-product-increment">+</span></a>
                    <a asp-action="DecrementProduct" asp-controller="Cart" asp-route-id="@cartProduct.Id"><span class="button cart-product-decrement">-</span></a>
                </div>
            }
        </div>
        <div class="cart-form">
            <form asp-action="PlaceCartOrder" asp-controller="Cart" method="post" autocomplete="off">
                <div class="flex order-type">
                    <div>
                        <input type="radio" id="dineIn" name="orderType" value="DineIn" />
                        <label for="dineIn">Dine-In</label>
                    </div>
                    <div>
                        <input type="radio" checked="checked" id="takeAway" name="orderType" value="TakeAway" />
                        <label for="takeAway">Take-Away</label>
                    </div>
                    <div>
                        <input type="radio" id="delivery" name="orderType" value="Delivery" />
                        <label for="delivery">Delivery</label>
                    </div>
                </div>
                <div class="flex observations">
                    <label for="observations">Observations:</label>
                    <textarea name="observations" id="observations" rows="3"></textarea>
                </div>
                <div class="flex customer-name">
                    <label for="customerName">Customer:</label>
                    <input type="text" name="customerName" id="customerName" />
                </div>
                <div class="flex customer-phone-number">
                    <label for="customerPhoneNumber">Phone Number:</label>
                    <input type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="customerPhoneNumber" id="customerPhoneNumber" />
                    <div class="customers-phone-number" hidden></div>
                </div>
                <div class="flex customer-address">
                    <label for="customerAddress">Address:</label>
                    <input type="text" name="customerAddress" id="customerAddress" />
                </div>
                <div class="flex additional-charge">
                    <label for="additionalCharge">Additional Charge:</label>
                    <input type="number" min="0" name="additionalCharge" id="additionalCharge" />
                </div>
                <div class="flex sub-total">
                    <span>
                        SubTotal:
                        <span id="subTotalPrice"
                              data-value="@Model.SubTotalPrice.ToString(System.Globalization.CultureInfo.InvariantCulture)">
                            @Model.SubTotalPrice.ToString("C", new CultureInfo("en-CA"))
                        </span>
                    </span>
                </div>
                <div class="flex gst">
                    <span>
                        GST: @Model.Gst.ToString("C", new CultureInfo("en-CA"))
                    </span>
                </div>
                <div class="flex pst">
                    <span>
                        PST: @Model.Pst.ToString("C", new CultureInfo("en-CA"))
                    </span>
                </div>
                <div class="flex delivery-fee">
                    <label for="deliveryFee">Delivery Fee:</label>
                    <input type="number" min="0" name="deliveryFee" id="deliveryFee" />
                </div>
                <div class="flex discount">
                    <label for="discount">Discount:</label>
                    <input type="number" min="0" name="discount" id="discount" />
                </div>
                <div class="flex total">
                    <span>
                        Total: 
                        <span id="totalPrice">
                            @Model.TotalPrice.ToString("C", new CultureInfo("en-CA"))
                        </span>
                    </span>
                </div>
                <div class="flex ready-time">
                    <label for="readyTime">Ready In:</label>
                    <input type="datetime-local" id="readyTime" min="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" name="readyTime" value=@DateTime.Now.AddMinutes(15).ToString("yyyy-MM-ddTHH:mm") />
                </div>
                <div class="flex place-cart-order-button">
                    <button type="submit">Place Order</button>
                </div>
            </form>
        </div>
    }
</div>

<script>
    const customerNameInput = document.getElementById("customerName");
    const customerPhoneNumberInput = document.getElementById("customerPhoneNumber");
    const customerAddressInput = document.getElementById("customerAddress");

    const customersPhoneNumberDiv = document.querySelector(".customers-phone-number");

    const radioDelivery = document.getElementById("delivery");

    customerPhoneNumberInput.addEventListener("input", async () => {

        const value = customerPhoneNumberInput.value;

        if (value.length < 3) {
            customersPhoneNumberDiv.hidden = true;
            customersPhoneNumberDiv.innerHTML = "";
            return;
        }

        const response = await fetch(`Shared/SearchCustomers?phoneNumber=${value}`);
        const customers = await response.json();

        customersPhoneNumberDiv.innerHTML = "";
        customersPhoneNumberDiv.hidden = customers.length === 0;

        customers.forEach((customer) => {
            const div = document.createElement("div");
            div.style.border = "1px solid #000";
            div.style.cursor = "pointer";
            div.textContent = customer.phoneNumber;

            div.addEventListener("click", () => {
                customerNameInput.value = customer.name;
                customerPhoneNumberInput.value = customer.phoneNumber;
                customerAddressInput.value = customer.address;
                customersPhoneNumberDiv.innerHTML = "";
                customersPhoneNumberDiv.hidden = true;
            });

            customersPhoneNumberDiv.appendChild(div);
        });
    });

    const subTotalPriceElement = document.getElementById("subTotalPrice");
    const subTotalPrice = parseFloat(subTotalPriceElement.dataset.value) || 0;
    const totalPriceElement = document.getElementById("totalPrice");
    const additionalChargeInput = document.getElementById("additionalCharge");
    const deliveryFeeInput = document.getElementById("deliveryFee");
    const discountInput = document.getElementById("discount");

    function updateTotalPrice() {
        const additionalCharge = parseFloat(additionalChargeInput.value) || 0;
        const deliveryFee = parseFloat(deliveryFeeInput.value) || 0;
        const discount = parseFloat(discountInput.value) || 0;
        const gst = subTotalPrice * 0.05;
        const pst = subTotalPrice * 0.07;
        const subTotal = additionalCharge + subTotalPrice;
        const total = ((subTotalPrice + gst + pst) + deliveryFee) - discount;

        subTotalPriceElement.textContent = subTotal.toLocaleString("en-CA", {
            style: "currency",
            currency: "CAD"
        });

        totalPriceElement.textContent = total.toLocaleString("en-CA", {
            style: "currency",
            currency: "CAD"
        });
    }

    additionalCharge.addEventListener("input", updateTotalPrice);
    deliveryFeeInput.addEventListener("input", updateTotalPrice);
    discountInput.addEventListener("input", updateTotalPrice);
</script>